<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="by.matskevich.calendaroffactory"
    android:versionCode="21"
    android:versionName="1.19" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="29" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/polimir"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".settings.SettingsActivity"
            android:label="@string/settings_title"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="by.matskevich.calendaroffactory.MainActivity" />
        </activity>
        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="by.matskevich.calendaroffactory.MainActivity" />
        </activity>
        <activity
            android:name=".calendar.CalendarActivity"
            android:label="@string/title_activity_calendar"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="by.matskevich.calendaroffactory.MainActivity" />
        </activity>
    </application>

</manifest>